
lib/GLFW/docs/
lib/GLFW/examples/
lib/GLFW/tests/
lib/GLFW/build/

.idea/
### C++ template
# Compiled Object files
*.slo
*.lo
*.o


*.a
*.dll
!lib/libsoil2.a
!lib/assimp/bin/libassimp.dll
!lib/assimp/lib/libassimp.dll.a

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

